body {
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}

.containerPrincipal {
    width: 1440px;
    height: auto;

}


.cabecalho {
    display: flex;
    
    width: 100%;
    height: 69px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: #EC362D;
    color: #FFFFFF;

    top: 0px;
    left: 0px;
    position: fixed;
    margin-bottom: 77px;
}

h1 {

    font-weight: 700;
    font-size: 37px;

    font-family: 'Roboto', sans-serif;

    align-items: center;
    margin: auto;

    cursor: pointer;
}

/* Final configurações do cabeçalho*/


.containerCentral{
    display: flex;
    flex-direction: column;
}

.criacaoQuizz {
    
    width: 1051px;
    height: 181px;
    
    margin: 0px auto;
    margin-top: 144px;
    
    
    border: 1px dashed #D4D4D4;
}



h2 {
    display: flex;
    
    width: 200px;
    height: 107px;
    
    
    text-align: center;
    align-items: center;
    
    color: #B9B9B9;
    margin: auto;
}

button {
    display: flex;
    
    width: 136px;
    height: 40px;
    
    align-items: center;
    justify-content: center;
    margin: auto;
    
    border-radius: 25px;
    border: 1px dashed #EC362D;
    color: #EC362D;
    
    font-size: 21px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}

/* Final do Criação Quizz*/


/* Inicio Quizz ja produzidos*/
.quizzFeitos {
    width: 1051px;
    height: 370px;
    
    display: flex;
    flex-wrap: wrap;
    
    margin: 0px auto;
    margin-top: 110px;
    
}

.quizzRealizados {
    width: 330px;
    height: 181px;

    margin-top: 30px;
    margin-left: 15px;
    
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 65.1%, #000000 100%), url(image.png);
    border-radius: 5px;
}

.quizzRealizados:hover {
    transform: scale(1.02);
}

h3 {
    display: flex;
    flex-wrap: wrap;
    
    width: 90%;
    
    margin: 0px auto;
    margin-top: 120px;
    
    text-align: center;
    justify-content: center;
    
    font-weight: 400;
    font-size: 19px;
    color: #FFFFFF;
}

/* Final Quizz ja produzidos*/


/* Icinio Criação das perguntas*/

/* Perguntas Iniciais*/
.criarPerguntasIniciais{
    display: flex;
    flex-direction: column;
    
    width: 600px;
    height: auto;
    
    position: fixed;
    top:140px;
    left: 420px;
    
    justify-content: space-between;
    
}

.tituloPerguntas{
    text-align: center;
    justify-content: center;
    margin-bottom: 27px;
    
    font-size: 23px;
    font-weight: 700;
}

.caixaDePerguntas{
    width: 600px;
    height: 256px;
    
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.perguntasIniciais{
    width: 564px;
    height: 46px;
    
    margin-left: 16px;
    margin-top: 9px;
    
    color: #BABABA;
    font-size: 19px;
    font-style: italic;
    
    border: 1px solid #D1D1D1;
    border-radius: 5px;
}

.botaoPerguntas{
    width: 367px;
    height: 57px;
    
    text-align: center;
    align-items: center;
    margin-top: 85px;
    
    background-color: #EC362D;
    color: #FFF5F4;
    
    font-size: 21px;
    font-weight: 400;
}
/* Perguntas Iniciais*/

/* Pergintas para o quizz*/

.criaçaoPerguntasQuizz {
    width: 601px;
    height: auto;
    
}

.box{
    display: flex;
    justify-content: space-between;
    width: 601px;
    height: 74px;
    
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
    margin-top:22px;
}

.box:hover{
    transform: scale(1.01);
}

h4{
    
    font-size: 20px;
    font-weight: 700;  
}

.box ion-icon{
    width: 26px;
    height: 23px;
    
}

.box ion-icon, 
h4{
    margin: auto 18px;
}


/* Pergintas para o quizz*/

@media(max-width: 375px) {
    body {
        width: 375px;
    }
    
    .cabecalho,
    .containerPrincipal {
        width: 100%;
    }
    
    .containerCentral{
        margin-top: -31px;
        
    }
    
    .criacaoQuizz,
    .quizzFeitos {
        width: 340px;
        height: auto;
    }
    
    .criacaoQuizz {
        height: 181px;
    }
    
    .quizzFeitos {
        
        margin-top: 35px;
    }
    
    .quizzRealizados {
        
        width: 340px;
        margin: 14px auto;
    }
    
}

.escondido{
    display:none;
}